@media (max-width: 600px) {

  .counter {
    padding: .15rem .3rem;
    border-radius: 50%;
    position: absolute;
    top:-.2rem;
    right: .8rem;
    font-size: .8rem;
  }

  .fa-key, 
  .fa-bell{
    color: var(--text-color);
    font-size: 1.5rem;
  }


  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5rem auto;
  }


  .menu-logo {
    display: none;
  }

  .menu-nav {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    justify-content: center;
  }

  .menu-nav-alt {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 50px;
    height: 45vh;
  }

  .menu-nav li{
    margin: .75rem 0;
    line-height: 1.5;
    font-size: 1rem;
  }

  .menu-nav-alt li {
    margin: .75rem 0;
    line-height: 1.5;
    font-size: .9rem;
  }


  .menu-nav  h4{
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 100;
  }

  .menu-nav-alt  h4{
    margin-bottom: 1.2rem;
    font-size: 1rem;
    font-weight: 100;
  }


  .menu-nav li a {
    font-size: 1rem;
    font-weight: 300;
  }

  .menu-nav-alt li a {
    font-weight: 300;
    font-size: .9rem;
  }

  .menu-lang {
    bottom: 5rem;
    text-align: center;
    font-weight: 100;
  }

  label {
    font-size: 1.2rem !important;
    letter-spacing: 0;
    font-weight: bold;
  }

  .server-msg p {
    font-size: 1rem;
  }

  .notifications p {
    font-size: 1rem;
  }

  .notifications .card {
    margin-bottom: 1rem;
    padding: 1.5rem;
  }

  #dashboard .btn{
    display: flex;
    justify-content: center;
    /* align-self: center; */
    margin: auto;
    /* width: auto; */
  }

  .card {
    margin-bottom: 1.5rem;
  }

    .hero{
        padding: 5% 0;
      }

      .hero i {
        margin-bottom: .75rem;
        font-size: 4rem;
      }

    .hero h1 {
        font-size: 2.5rem;
        margin-bottom: 0; 
      }
    
      .hero p {
        font-size: 1.2rem;
      }
    .about-info ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

      .lead {
        margin: 1rem 0;
        font-size: 1.1rem;
      }

      .home-link {
        font-size: 1rem;
      }

      .m-head {
        font-size: 2rem;
      }
      .form-container {
        margin: 1rem auto;
      }

      #register input,
      #login input,
      #reset input {
       width: 100%;
       padding: .5rem;
       font-size: 1rem;
       background: var(--dark-container-bg);
       color: var(--light-body-bg);
     }

     
  .btn {
    padding: .75rem 1rem;
    border-radius: 10px;
    margin-top: .5rem;
    transition: background 0.5s ease-in-out;
    font-size: .9rem;
  }

  #register input,
  #login input,
  #reset input {
   padding: 1rem;
   font-size: 1rem;
 }

 #about-info,
  #security-info,
  #faq {
    margin: 5rem auto;
  }

  footer {
    margin-top: 5rem;
  }

  .anonymous img {
    width: 300px;
  }

  .faq #question li {
    padding: 1.2rem;
    font-size: 1.2rem;
    margin-bottom: .5em !important;
  }

  .footer {
    padding: 2rem 0;
  }

  .footer-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-logo {
    display: grid;
    grid-area: 1 / span 2;
    margin-bottom: 4rem;
    display: flex;
    align-items: baseline;
  }

  .footer-logo i {
    font-size: 1.5rem;
  }

  .footer-logo h4 {
    font-size: 1.5rem;
  }

}